.header {
  grid-area: header;
  display: grid;
  align-content: center;
  align-items: stretch;
  grid-template-areas: "logo navbar";
  grid-template-columns: 30vw 1fr;
  border-radius: 15px;
  background-color: rgba(91, 171, 245, 0.5);
  height: auto;
}

.main-logo-container {
  align-self: center;
  grid-area: logo;
  font-size: 1.5vh;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-container {
  grid-area: navbar;
  text-justify: auto;
  display: inline-block;
  align-items: center;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  font-size: 2vw;
  padding: auto;
  float: left;
  color: #d8edff;
  padding: 4vh 30px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
