p {
  color: white;
}

.main-content {
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar map map"
    "navbar map map";
  grid-gap: 1vw;
  padding: 20px;
}

.header {
  grid-area: header;
  border-radius: 15px;
  background-color: rgba(91, 171, 245, 0.5);
  height: auto;
}

.main-logo-container {
  margin-left: 20px;
}

.map {
  grid-area: map;
  border-radius: 15px;
  background-color: rgba(91, 171, 245, 0.5);
  padding: 20px;
}

.map-container {
  max-width: "350px";
  height: "350px";
  overflow-x: "hidden";
  overflow-y: "hidden";
}

.info-container {
  grid-area: navbar;
  border-radius: 15px;
  background-color: rgba(91, 171, 245, 0.5);
  height: 40vw;
}

.info-text {
  padding: 10px;
  margin: 10px;
}
