.info-container {
  grid-area: info;
  border-radius: 15px;
  background-color: rgba(91, 171, 245, 0.5);
  height: 1fr;
}

.info-text {
  padding: 10px;
  margin: 10px;
}

.legend-container {
  background-color: rgba(250, 137, 246, 0.8);
  border-radius: 15px;
  border: solid black 3px;
  padding: 5px;
}

@media only screen and (max-width: 800px) {
  .info-container {
    width: 100%;
  }
}
